.elements {
  width: 880px;
  margin: 50px auto 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 21px 17px;
}

@media screen and (max-width: 880px) {
  .elements {
    width: 581px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .elements {
    margin: 36px auto 0;
    width: 320px;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    justify-items: center;
  }
}
