.close-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: url(../../images/Close-Icon.svg);
  background-repeat: no-repeat;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -42px;
  right: -47px;
}

.close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .close-button {
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
    right: 3px;
  }
}
