.edit-button_type_profile-image {
    background-image: url(../../../images/Pencil.svg);
    width: 26px;
    height: 26px;
    position: absolute;
    top: 40%;
    left: 38%;
    padding: 0;
    margin: 0;
}

.edit-button_type_profile-image:hover {
    opacity: 1;
}

@media screen and (max-width: 580px) {
    .edit-button_type_profile-image {
        left: 40%;
    }
}
