.delete-button_type_deleteConfirm {
  margin: 0 0 36px 36px;
  position: static;
  background-image: none;
  background-size: none;
  width: 358px;
  height: 50px;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
}

@media screen and (max-width: 580px) {
  .delete-button_type_deleteConfirm {
    margin: 36px 26px 26px;
    width: 238px;
    height: 46px;
  }
}
